body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXnsZObcjTC-MkgUKlFrP1O4WjRkolvOs-Pg&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: #ffa000;
  text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

h1{
  color: black;
  background: rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  
}
